@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.authBody {
    
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    background-image: linear-gradient(99deg, #FF70A6, #FF9770 40%, #FFD670 73%, #E9FF70)
}

.Auth {
    min-width: 375px;
    min-height: 812px;
    height: 40%;
    width: 70%;
    border-radius: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,.25),
    0 10px 10px 0 rgba(0,0,0,.26);
}

#authLogo {
    margin-bottom: 10px;
    background-image: '../../assets/HeloLogo';
    background-position: center;
    background-repeat: no-repeat;
}

#authImg:hover {
    content:url("../../assets/HeloLogo2.png")
}

.authRow {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#authUser {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

#authPassword {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#user {
    margin-right: 5px;
}

#password {
    margin-right: 5px;
}

#authButtons {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}